<div class="main">
  <h2 class="main__headline">アニメ投稿内容編集</h2>
  <%= form_with model:@anime, url:anime_path(@anime.id), class: 'form', local:true do |f| %>
    <%= render 'public/animes/anime', f: f, anime: @anime %>
    <div class="form__actions">
      <%= f.submit "変更を保存", class: 'form__button' %>
    </div>
  <% end %>
</div>