<h3>初めての方へ</h3>
<h4>本サイトについて</h4>
<div>
本サイトは、好きなアニメを様々な人と共有できるサイトです。<br />
好きなアニメを紹介したり、<br />
紹介されているアニメの感想や魅力をコメントすることで<br />
様々な人と語り合い、共有することができます。<br />
また、紹介された内容を参考にこれまで知らなかった新しいアニメにも出会えるでしょう。
</div>