<div class="main">
  <h2 class="main__headline">ジャンル一覧</h2>
  <%= form_with model:@genre, url:admin_genres_path, class: 'form', local: true do |f| %>
    <%= render 'admin/genres/genre_form', f: f, genre: @genre %>
  <% end %>

  <table class="genre">
    <tbody>
      <tr class="retu">
        <th class="title">ジャンル</th>
      </tr>
      <% @genre_list.each do |genre| %>
        <tr>
          <td class="name"><%= genre.name %></td>
          <td class=""><%= link_to "編集する", edit_admin_genre_path(genre.id), class: 'link' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
