/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import 'font-awesome-sprockets';
  @import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {

}

.header {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 5px solid #B4C7E7;
  // background-color: #B4C7E7;

  &__inner {
    width: 80%;
    min-width: 860px;
    margin: 0px auto;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
  }

  &__logo {
    margin-right: auto;
  }

  &__logo-link {
    text-decoration: none;
    color: #5A5A5A;
  }

  &__nav {
  }

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
  }

  &__link {
    text-decoration: none;
    color: #009;
  }

  &__search {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    position: relative;
  }

  &__text {
    width: 250px;
    border: 2px solid #B4C7E7;
    padding: 5px 10px;
    border-radius: 5px;
  }

  &__button {
    position: absolute;
    top: 7px;
    right: 10px;
    color: #18b7cd;
    background-color: white;
    border: none;
  }
}

.main {
  width: 860px;
  margin: 0 auto;

  &__headline {
    padding-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #2F61FF;
    color: #5A5A5A;
  }

  &__body {
    padding-left: 20px;
  }

  &__errors {
    margin-bottom: 20px;
    font-size: 80%;
    color: red;
  }

  &__body-headline {
    padding: 10px 20px;
    color: #5A5A5A;
    // background-color: #D5FFEA;
  }

  &__body-item {
    padding: 10px 20px;
    // background-color: #FCFEE6;
  }
}

.form {
  padding: 0 30px;
  margin-bottom: 10px;

  &__error-explanation {
    margin-bottom: 10px;
    font-size: 80%;
    color: red;
  }

  &__notice {
    margin-bottom: 10px;
    font-size: 80%;
  }

  &__field {
    margin-bottom: 10px;
  }

  &__label {
    margin-bottom: 5px;
    display: block;
  }

  &__imput {
    margin-left: 30px;
    padding: 5px;
    width: 50%;
  }

  &__actions {
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
  }

  &__submit {

  }

  &__button {
    width: 30%;
    padding: 10px;
    color: #fff;
    background-color: #1b8ef3;
    border: none;
    border-radius: 10px;
  }

  &__link {
    margin-top: 20px;
    padding-top: 10px;
  }

  &__add-user {
    color: #009;
  }

  &__button-genre {
    width: 20%;
    padding: 5px;
    color: #fff;
    // background-color: #2FB0FF;
    background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
    border: none;
    border-radius: 5px;
  }

  &__button-genre:hover {
    background-image: linear-gradient(45deg, #709dff 75%, #b0c9ff 100%);
  }

  &__group {
    margin-bottom: 20px;
    display: flex;
  }

  &__group-id {
    margin-right: 15px;
  }

  &__group-num {
    margin-left: 10px;
    padding-left: 10px;
    width: 50%;
  }
}

.genre {
  margin: 20px 10px;
  padding: 10px 30px;
}


.name {
  padding: 10px 30px 10px 0;
}

.link {
  margin-left: 10px;
  padding: 2px 10px;
  text-decoration: none;
  color: #fff;
  // background-color: #1b8ef3;
  background-image: linear-gradient(45deg, #709dff 50%, #b0c9ff 100%);
  border: 1px solid #B4C7E7;
  border-radius: 5px;
}

.link:hover {
  background-image: linear-gradient(45deg, #709dff 75%, #b0c9ff 100%);
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  margin-bottom: 20px;

  &__item {
    width: 24%;
  }

  &__button {
    color: #009;
    text-decoration: none;
  }
}

.profile {
    width: 100%;
    margin: 30px 0;

  &__title {
    width: 25%;
    min-width: 150px;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #B4C7E7;
    text-align: left;
  }

  &__item {
    padding: 5px 20px;
    border: 1px solid #B4C7E7;
  }

  &__edit-link {

  }

  &__link {
    color: #009;
  }

  &__confirm-text {
    padding-left: 20px;
  }

  &__confirm {
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
  }

  &__confirm-yes {
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
    border-radius: 5px;
    background-color: #FF8415;
  }

  &__confirm-no {
    text-decoration: none;
    padding: 5px 20px;
    color: #fff;
    border-radius: 5px;
    background-color: #1b8ef3;
  }
}

.anime {
  display: flex;
  flex-wrap: wrap;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 24%;
    min-height: 200px;
    background-color: white;
    margin: 5px 4px;
    padding-bottom: 10px ;
  }

  &__item:hover {
    background-color: #f6f6f6
  }

  &__image {
    margin-right: 20px;
  }

  &__image-quote {
    font-size: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
  }

  &__quote {
    color: #5A5A5A;
  }

  &__quote-link {
    margin-left: 5px;
  }

  &__info {
    padding: 0 5px;
    margin-top: 5px;
  }

  &__info-title {

  }

  &__info-user {
    font-size: 80%;
    color: #5A5A5A;
  }

  &__info-update {
    font-size: 90%;
  }

  &__info-status {
    font-size: 80%;
  }

  &__detail {
    margin: 0 20px;
    padding-right: 10px;
  }

  &__detail-title {

  }

  &__detail-item {
    display: flex;
    color: #2D3847;
    font-size: 110%;
    margin: 2px 0 4px 10px;
    // margin-left: 10px;
    padding-left: 10px;
  }

  &__link-quote {
    color: #009;
    // text-decoration: none;
  }

  &__link-info {
    color: #5A5A5A;
    text-decoration: none;
  }

  &__change-status {
  margin-left: 10px;
  padding: 2px 10px;
  text-decoration: none;
  color: #fff;
  background-color: #1b8ef3;
  border-radius: 5px;
  }
}

.comment {
  margin: 30px 0;
  padding: 0 5px;

  &__headline {
    padding: 10px 0 10px 20px;
    border-top: 2px solid #DCDADA;
    border-bottom: 2px solid #DCDADA;
    color: #5A5A5A;
  }

  &__list-item {
    padding: 20px 10px;
    border-bottom: 2px solid #DCDADA;
    display: flex;
  }

  &__item-icon {
    width: 80px;
    padding: 0 10px;
  }

  &__icon {
    border-radius: 50%;
  }

  &__item-info {
    padding-left: 10px;
  }

  &__item-user {

  }

  &__link-user {
    color: #5A5A5A;
    text-decoration: none;
  }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}