<div class="main">
  <h2 class="main__headline"><%= @anime.name %></h2>
  <div class="anime">
    <%= render 'layouts/anime_show', anime: @anime %>
  </div>

  <div class="comment">
    <h3 class="comment__headline"><%= @comments.count %>件のコメント</h3>
    <%= render 'layouts/comment_show', comments: @comments %>
  </div>
</div>